<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>indexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingServlet</servlet-name>
        <servlet-class>bookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentServlet</servlet-name>
        <servlet-class>paymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>houseKeepingServlet</servlet-name>
        <servlet-class>houseKeepingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>houseKeepingUpdateServlet</servlet-name>
        <servlet-class>houseKeepingUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportsServlet</servlet-name>
        <servlet-class>reportsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/indexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingServlet</servlet-name>
        <url-pattern>/bookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentServlet</servlet-name>
        <url-pattern>/paymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>houseKeepingServlet</servlet-name>
        <url-pattern>/houseKeepingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>houseKeepingUpdateServlet</servlet-name>
        <url-pattern>/houseKeepingUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportsServlet</servlet-name>
        <url-pattern>/reportsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
